.navigation {
  grid-area: n;
  background-color: blueviolet;
  padding: 20px;
}
.item {
  color: rgb(32, 143, 97);
}

.item a {
  text-decoration: none;
}

.item a.active {
  color: goldenrod;
}

.item:hover {
  color: rgb(255, 0, 0);
}
