body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "h  h"
    "n c ";
  grid-template-rows: 60px 2fr;
  grid-template-columns: 2fr 10fr;
  width: 1180px;
  margin: 0 auto;

  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
  background-color: crimson;
}
