.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  padding: 10px;
}
.dialogsItems a.active {
  color: goldenrod;
}
.dialog {
  color: antiquewhite;
}
.messages {
  padding: 10px;
}
/* .messageItem {
} */
