.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  padding: 10px;
}
.dialogsItems a.active {
  color: goldenrod;
}
.dialog {
}
.massages {
  padding: 10px;
}
.massageItem {
}
